<h1>Battle!</h1>
<h2>Sign to play</h2>
<form action='/names' method='post'>
    <ul>
        <li style='margin-bottom: 10px'>
            <label for='name'>First Player Name: </label>
            <input type='text' name='first_player_name'>
        </li>
        <li style='margin-bottom: 10px'>
            <label for='name'>Second Player Name: </label>
            <input type='text' name='second_player_name'>
        </li>
        <li>
            <label for='submit'>Submit</label>
            <input type='submit' value='Submit'>
        </li>
    </ul>
</form>