
    <h1>First player name is <%= @player_1_name %></h1>

    <h1>Second player name is <%= @player_2_name %></h1>

    <h2>Second player hit points is <%=@player_2_name %>: 60HP </h2>

    <a href='/attack'> Attack second_player </a>
