<% if @first_player_name %>
    <h1>First player name is <%= @first_player_name %></h1>
<% end %>

<% if @second_player_name %>
    <h1>Second player name is <%= @second_player_name %></h1>
<% end %>

