
    <h1>First player name is <%= @first_player_name %></h1>

    <h1>Second player name is <%= @second_player_name %></h1>

    <h2>Second player hit points is <%=@second_player_name %>: 60HP </h2>

    <a href='/attack'> Attack second_player </a>
